
<section ng-switch on="lang">
    <section ng-switch-when="en" class="switch-anim">
        <h3 class="exec c">Epitech Projects</h3><br /><br />
    </section>
    <section ng-switch-when="fr" class="switch-anim">
        <h3 class="exec c">Projets Epitech</h3><br /><br />
    </section>
    <ul class="timeline">
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>my_stdlib</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Development of a set of functions in the standard library of C language.
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Développement d'un ensemble de fonction de la librairie standard du langage C.
                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="C">C</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-inverted timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>my_printf</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Development of a C language function operates like printf
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Développement d'une fonction du langage C fonctionnant comme la fonction printf.
                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="C">C</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>my_ls</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Development of a program running as the ls command.
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Développement d'un programme fonctionnant comme la commande ls.
                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="C">C</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>

        <li class="timeline-elem timeline-hide timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>my_sh</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Realization of a shell (cli: command line interface, such as bash) for UNIX system.<br />
                            Ability to:
                            <ul class="contact">
                                <li>
                                    Create files, folders, symbolic links
                                </li>
                                <li>
                                    Move in the file system
                                </li>
                                <li>
                                    Management of commmands history
                                </li>
                                <li>
                                    Management of environment variables
                                </li>
                            </ul><br />
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Réalisation d'un shell (cli : command line interface, comme bash) pour des système UNIX.<br />
                            Possibilité de :
                            <ul class="contact">
                                <li>
                                    Créer des fichiers, dossiers, liens symbolique
                                </li>
                                <li>
                                    Se déplacer dans le file system
                                </li>
                                <li>
                                    Gestion d'un historique des commmandes
                                </li>
                                <li>
                                    Gestion des variables d'environnement
                                </li>
                            </ul><br />
                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="C">C</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>Korewar</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            The Korewar is an AI game that confronts in a virtual machine.<br />
                            Every champion must survive and eat the memory assigned to other champions.
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Le Korewar est un jeu d'IA qui s'affronte dans une machine virtuelle.<br />
                            Chaque champion doit survivre et manger la mémoire attribuée aux autres champions.
                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="C">C</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
    </ul>
</section>