
<section ng-switch on="lang">
    <section ng-switch-when="en" class="switch-anim">
        <h3 class="exec c">IN'TECH INFO Projects</h3><br /><br />
    </section>
    <section ng-switch-when="fr" class="switch-anim">
        <h3 class="exec c">Projets IN'TECH INFO</h3><br /><br />
    </section>
    <ul class="timeline">
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="exec">Netpolling</h3><br /><br />
                    <center>
                        <img src="public/img/np_logo.png" />
                    </center><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 5,5 mois</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Create a network scanner that will enable the mapping of the network with a dynamic web interface.<br />
                            With this tool, the user can :
                            <ul class="contact">
                                <li>
                                    See the bandwith conssumed
                                </li>
                                <li>
                                    Listen the network trafic of a machine
                                </li>
                                <li>
                                    Scan the machine in order to know the Operating System and their network ports of the target
                                </li>
                                <li>
                                    Move in the network map, like in google map (left, right, top, bottom, zoom, unzoom)
                                </li>
                                <li>
                                    Save the actual dynamic map
                                </li>
                            </ul>
                            background story : I'm a network administrator who fails to quickly see which uses the bandwidth of my network<br /><br />
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Créer un scanner de réseau qui permet de faire une cartographie du réseau avec une interface web dynamic.<br />
                            Avec cet outil, l'utilisateur peut :
                            <ul class="contact">
                                <li>
                                    Voir la bande passante consommée
                                </li>
                                <li>
                                    Ecouté le traffic réseau d'une machine
                                </li>
                                <li>
                                    Effactuer le scan d'une machine afin de connaître son système d'exploitation et ces ports ouvert
                                </li>
                                <li>
                                    Se déplacer dans la carte du réseau comme dans google map (déplacement dans la carte, zoom, dézoom)
                                </li>
                                <li>
                                    Sauvegarder la carte actuelle
                                </li>
                            </ul>
                            background : Je suis un administrateur réseau qui a du mal à voir rapidement qui consomme de la bande passante sur le réseau<br /><br />
                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="Python">Python</a></span>
                            <span class="techno"><a ui-sref="Python">Scapy</a></span>
                            <span class="techno"><a ui-sref="Python">Django</a></span>
                            <span class="techno"><a ui-sref="JavaScript">JavaScript</a></span><br /><br />
                            <span class="techno"><a ui-sref="JavaScript">AngularJS</a></span>
                            <span class="techno"><a ui-sref="Network">ARP</a></span>
                            <span class="techno"><a ui-sref="ITSecurity">Nmap</a></span>
                            <span class="techno"><a ui-sref="">Port mirroring</a></span><br /><br />
                            <span class="techno"><a ui-sref="Network">Tshark</a></span>
                            <span class="techno"><a ui-sref="">HTML 5</a></span>
                            <span class="techno"><a ui-sref="">CSS 3</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-inverted timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="exec">Renov'Space</h3><br /><br />
                    <center>
                        <img src="public/img/renov.png" />
                    </center><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 5,5 mois</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            The goal of this project is to refurbish the INTECH open space to make it more attractive to students and that more enjoyable for work.<br />
                            At the end of this project, an opening night was organised.
                            <section>
                                <span class="exec">Human skills</span> : <br /><br />
                                <span class="techno"><a ui-sref="">Team management</a></span><br /><br />
                                <span class="techno"><a ui-sref="">Project management</a></span>
                            </section>
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Le but de se projet était de réaménager l'open space d'INTECH afin qu'il soit plus attrayant pour les élèves et que cet soit plus agréable pour le travail.<br />
                            A la fin du projet une soirée d'inauguration a été organisé.<br />
                            <section>
                                <span class="exec">Compétences humaines</span> : <br /><br />
                                <span class="techno"><a ui-sref="">Gestion d'une équipe</a></span><br /><br />
                                <span class="techno"><a ui-sref="">Management de projet</a></span>
                            </section>
                            <br /><br />
                        </span>
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="exec">Secure My Linux</h3><br /><br />
                    <center>
                        <img src="public/img/sml.png" />
                    </center><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 5,5 mois</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            This solution is designed for people with no or little knowledge of computer security and have a Linux server.<br />
                            The product enables secure a Linux server in a simple, intuitive and without being intrusive via a web interface guiding the user on several points:                            <ul class="contact">
                                <li>
                                    Analysis of the different services installed to detect security vulnerabilities (eg: apache, mysql, ssh ...)
                                </li>
                                <li>
                                    Management systems packages updates
                                </li>
                                <li>
                                    Testing the robustness of a password by brute force
                                </li>
                                <li>
                                    Information on the firewall, its rules and network traffic
                                </li>
                                <li>
                                    Information about the actions of such tools like fail2ban
                                </li>
                            </ul>
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Cette solution est destinée à des personnes n'ayant pas ou peu de connaissances en sécurité informatique  et qui ont un serveur Linux.<br />
                            Le produit permet de sécuriser un serveur linux de façon simple, intuitive et sans être intrusive par le biais d'une interface web guidant l'utilisateurs sur plusieurs points:
                            <ul class="contact">
                                <li>
                                    Analyse des différents services installés afin de détecter des failles de sécurité (ex: apache, mysql, ssh ...)
                                </li>
                                <li>
                                    Gestion des mises à jour des paquets systèmes
                                </li>
                                <li>
                                    Test de la robustesse des mot de passe par brute force
                                </li>
                                <li>
                                    Informations sur le pare-feu, ses régles et le traffic réseau
                                </li>
                                <li>
                                    Informations sur les actions d'outil tel que fail2ban
                                </li>
                            </ul>
                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="Perl">Perl</a></span>
                            <span class="techno"><a ui-sref="JavaScript">JavaScript</a></span>
                            <span class="techno"><a ui-sref="ITSecurity">IpTables</a></span><br /><br />
                            <span class="techno"><a ui-sref="ITSecurity">John the Ripper</a></span>
                            <span class="techno"><a ui-sref="ITSecurity">Fail2Ban</a></span>
                            <span class="techno"><a ui-sref="Linux">Linux</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>

        <li class="timeline-elem timeline-hide timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="exec">Laser In Tech</h3><br />
                    <center>
                        <img src="public/img/lit.png" />
                    </center><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 5,5 mois</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Organize a laser tag party into INTECH school.
                            <section>
                                <span class="exec">Human skills</span> : <br /><br />
                                <span class="techno"><a ui-sref="">Participant Management</a></span><br /><br />
                                <span class="techno"><a ui-sref="">Sponsor research</a></span>
                            </section>
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Organisation d'une soirée de laser tag au sein de l'école INTECH.
                        </span>
                        <br /><br />
                            <section>
                                <span class="exec">Compétences humaines</span> : <br /><br />
                                <span class="techno"><a ui-sref="">Gestion des participants</a></span><br /><br />
                                <span class="techno"><a ui-sref="">Recherche de sponsor</a></span>
                            </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>T'Host</h3><br /><br />
                    <center>
                        <img src="public/img/thost.png" />
                    </center><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 5,5 mois</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Project to set up a shared server service in order to host their website <br />
                            During this project I had the opportunity to see how run services in Linux, how to debug them ...
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Projet ayant pour but de mettre en place un service de serveur mutualisé afin de pouvoir héberger son site web <br />
                            Lors de ce projet j'ai eu l'occasion de voir comment fonctionne l'ensemble des services sous Linux, comment les débuguer ...
                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="Linux">Bash</a></span>
                            <span class="techno"><a ui-sref="PHP">PHP</a></span>
                            <span class="techno"><a ui-sref="JavaScript">JavaScript</a></span><br /><br />
                            <span class="techno"><a ui-sref="Linux">Apache2</a></span>
                            <span class="techno"><a ui-sref="Linux">DNS</a></span>
                            <span class="techno"><a ui-sref="Linux">Debian</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>WebCraft</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 5,5 mois</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Project to set up courses on HTML5 and CCS3 to students in semester 1.
                            <br /><br />
                            <section>
                                <span class="exec">Human skills</span> : <br /><br />
                                <span class="techno"><a ui-sref="">Knowledge Transfer</a></span>
                            </section>
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Projet ayant pour but de mettre en place des cours sur le HTML5 et le CCS3 à des élèves de semestre 1.
                            <br /><br />
                            <section>
                                <span class="exec">Compétences humaines</span> : <br /><br />
                                <span class="techno"><a ui-sref="">Transfert de connaissances</a></span>
                            </section>
                        </span>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>MunchWacky</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 5,5 mois</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Web project to replicate the role play Munchkin.
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Projet web ayant pour but de reproduire le jeux de rôle Munchkin.
                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="PHP">PHP 5</a></span>
                            <span class="techno"><a ui-sref="JavaScript">JavaScript</a></span>
                            <span class="techno"><a ui-sref="Linux">MySQL</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
    </ul>
</section>