
<section ng-switch on="lang">
    <section ng-switch-when="en" class="switch-anim">
        <h3 class="exec c">IN'TECH INFO Projects</h3><br /><br />
    </section>
    <section ng-switch-when="fr" class="switch-anim">
        <h3 class="exec c">Projets IN'TECH INFO</h3><br /><br />
    </section>
    <ul class="timeline">
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="exec">Netpolling</h3><br /><br />
                    <center>
                        <img src="public/img/np_logo.png" />
                    </center><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Create a network scanner that will enable the mapping of the network with a dynamic web interface.<br />
                            With this tool, the user can :
                            <ul class="contact">
                                <li>
                                    See the bandwith conssumed
                                </li>
                                <li>
                                    Listen the network trafic of a machine
                                </li>
                                <li>
                                    Scan the machine in order to know the Operating System and their network ports of the target
                                </li>
                                <li>
                                    Move in the network map, like in google map (left, right, top, bottom, zoom, unzoom)
                                </li>
                                <li>
                                    Save the actual dynamic map
                                </li>
                            </ul>
                            background story : I'm a network administrator who fails to quickly see which uses the bandwidth of my network<br /><br />
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">

                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="Python">Python</a></span>
                            <span class="techno"><a ui-sref="">Scapy</a></span>
                            <span class="techno"><a ui-sref="">Django</a></span>
                            <span class="techno"><a ui-sref="">JavaScript</a></span><br /><br />
                            <span class="techno"><a ui-sref="">AngularJS</a></span>
                            <span class="techno"><a ui-sref="">ARP</a></span>
                            <span class="techno"><a ui-sref="">Nmap</a></span>
                            <span class="techno"><a ui-sref="">Port mirroring</a></span><br /><br />
                            <span class="techno"><a ui-sref="">Tshark</a></span>
                            <span class="techno"><a ui-sref="">HTML 5</a></span>
                            <span class="techno"><a ui-sref="">CSS 3</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-inverted timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="exec">Renov'Space</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">

                        </span>
                        <span ng-switch-when="fr" class="switch-anim">

                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Human skills</span> : <br /><br />
                            <span class="techno"><a ui-sref=""></a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="exec">Secure My Linux</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">

                        </span>
                        <span ng-switch-when="fr" class="switch-anim">

                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="">Perl</a></span>
                            <span class="techno"><a ui-sref="">JavaScript</a></span>
                            <span class="techno"><a ui-sref="">IpTables</a></span>
                            <span class="techno"><a ui-sref="">SSL</a></span>
                            <span class="techno"><a ui-sref="">RRDTool</a></span>
                            <span class="techno"><a ui-sref="">John the Ripper</a></span>
                            <span class="techno"><a ui-sref="">Fail2Ban</a></span>
                            <span class="techno"><a ui-sref="">Light perl server web</a></span>
                            <span class="techno"><a ui-sref="">Debian</a></span>
                            <span class="techno"><a ui-sref="">HTML 5</a></span>
                            <span class="techno"><a ui-sref="">CSS 3</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>

        <li class="timeline-elem timeline-hide timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="exec">Laser In Tech</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">

                        </span>
                        <span ng-switch-when="fr" class="switch-anim">

                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />

                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>T'Host</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">

                        </span>
                        <span ng-switch-when="fr" class="switch-anim">

                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="">Bash</a></span>
                            <span class="techno"><a ui-sref="">PHP</a></span>
                            <span class="techno"><a ui-sref="">JavaScript</a></span>
                            <span class="techno"><a ui-sref="">Apache2</a></span>
                            <span class="techno"><a ui-sref="">Debian</a></span>
                            <span class="techno"><a ui-sref="">HTML 5</a></span>
                            <span class="techno"><a ui-sref="">CSS 3</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>WebCraft</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">

                        </span>
                        <span ng-switch-when="fr" class="switch-anim">

                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="C">C</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>MunchWacky</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">

                        </span>
                        <span ng-switch-when="fr" class="switch-anim">

                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="">PHP 5</a></span>
                            <span class="techno"><a ui-sref="">JavaScript</a></span>
                            <span class="techno"><a ui-sref="">HTML 5</a></span>
                            <span class="techno"><a ui-sref="">CSS 3</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>Int'Echoes</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">

                        </span>
                        <span ng-switch-when="fr" class="switch-anim">

                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>Iti Relay Chat</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">

                        </span>
                        <span ng-switch-when="fr" class="switch-anim">

                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="">C</a></span>
                            <span class="techno"><a ui-sref="">HTML</a></span>
                            <span class="techno"><a ui-sref="">CSS</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-elem timeline-hide timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>To infinity and beyond !</h3><br /><br />
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">

                        </span>
                        <span ng-switch-when="fr" class="switch-anim">

                        </span>
                        <br /><br />
                        <section>
                            <span class="exec">Technologies</span> : <br /><br />
                            <span class="techno"><a ui-sref="C">C</a></span>
                        </section>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
    </ul>
</section>