<section>
    <section>
        <article class="limit-dash">
            <h3>Netpolling</h3><br /><br />
            <center>
                <img src="public/img/np_logo.png" />
            </center><br />
            <section class="contact">
                <section ng-switch on="lang">
                    <section ng-switch-when="en">
                        Create a network scanner that will enable the mapping of the network with a dynamic web interface.<br />
                        With this tool, the user can :
                        <ul class="contact">
                            <li>
                                See the bandwith conssumed
                            </li>
                            <li>
                                Listen the network trafic of a machine
                            </li>
                            <li>
                                Scan the machine in order to know the Operating System and their network ports of the target
                            </li>
                            <li>
                                Move in the network map, like in google map (left, right, top, bottom, zoom, unzoom)
                            </li>
                            <li>
                                Save the actual dynamic map
                            </li>
                        </ul>
                        background story : I'm a network administrator who fails to quickly see which uses the bandwidth of my network<br /><br />
                    </section>
                    <section ng-switch-when="fr">

                    </section>
                    <center>
                        <img src="public/img/netpolling.png" />
                    </center>
                    <section ng-switch-when="en">
                        <span class="exec">Role</span> :
                        <ul class="contact">
                            <li>Project management (planning Management, Setting up a git, Reporting, Project Steering)</li>
                            <li>Role of integrator</li>
                            <li>Achievement scripts scan</li>
                            <li>Realization of the arrangement of the modules and scripts web interface</li>
                            <li>Creating mapping system with svg tool JavaScript</li>
                            <li>Implementation of web-worker technologies and Ajax</li>
                            <li>Setting up the database with an ORM (object-relational mapping)</li>
                            <li>Establishment of parallelism of scanning script</li>
                        </ul>
                        <span>Teamates number : 2</span>
                    </section>
                    <section ng-switch-when="fr">

                    </section>
                    <br /><br />
                    <section>
                        <span class="exec">Technologies</span> : <br /><br />
                        <span class="techno"><a href="#">Python</a></span>
                        <span class="techno"><a href="#">Scapy</a></span>
                        <span class="techno"><a href="#">Django</a></span>
                        <span class="techno"><a href="#">JavaScript</a></span>
                        <span class="techno"><a href="#">AngularJS</a></span>
                        <span class="techno"><a href="#">ARP</a></span>
                        <span class="techno"><a href="#">Nmap</a></span>
                        <span class="techno"><a href="#">Port mirroring</a></span>
                        <span class="techno"><a href="#">Tshark</a></span>
                        <span class="techno"><a href="#">HTML 5</a></span>
                        <span class="techno"><a href="#">CSS 3</a></span>
                    </section><br /><br />
                </section>
            </section>
        </article>
        <article class="limit-dash">
            <h3>Renov'Space</h3><br /><br />
            <section class="contact">
                <br /><br />
            </section>
        </article>
        <article class="limit-dash">
            <h3>Secure My Linux</h3><br /><br />
            <section class="contact">
                <br /><br />
                <section>
                    <span class="exec">Technologies</span> : <br /><br />
                    <span class="techno"><a href="#">Perl</a></span>
                    <span class="techno"><a href="#">JavaScript</a></span>
                    <span class="techno"><a href="#">IpTables</a></span>
                    <span class="techno"><a href="#">SSL</a></span>
                    <span class="techno"><a href="#">RRDTool</a></span>
                    <span class="techno"><a href="#">John the Ripper</a></span>
                    <span class="techno"><a href="#">Fail2Ban</a></span>
                    <span class="techno"><a href="#">Light perl server web</a></span>
                    <span class="techno"><a href="#">Debian</a></span>
                    <span class="techno"><a href="#">HTML 5</a></span>
                    <span class="techno"><a href="#">CSS 3</a></span>
                </section><br /><br />
            </section>
        </article>
        <article class="limit-dash">
            <h3>Laser In Tech</h3><br /><br />
            <section class="contact">
                <br /><br />
            </section>
        </article>
        <article class="limit-dash">
            <h3>T'Host</h3><br /><br />
            <section class="contact">
                <br /><br />
                <section>
                    <span class="exec">Technologies</span> : <br /><br />
                    <span class="techno"><a href="#">Bash</a></span>
                    <span class="techno"><a href="#">PHP</a></span>
                    <span class="techno"><a href="#">JavaScript</a></span>
                    <span class="techno"><a href="#">Apache2</a></span>
                    <span class="techno"><a href="#">Debian</a></span>
                    <span class="techno"><a href="#">HTML 5</a></span>
                    <span class="techno"><a href="#">CSS 3</a></span>
                </section><br /><br />
            </section>
        </article>
        <article class="limit-dash">
            <h3>WebCraft</h3><br /><br />
            <section class="contact">
                <br /><br />
            </section>
        </article>
        <article class="limit-dash">
            <h3>MunchWacky</h3><br /><br />
            <section class="contact">
                <br /><br />
                <section>
                    <span class="exec">Technologies</span> : <br /><br />
                    <span class="techno"><a href="#">PHP 5</a></span>
                    <span class="techno"><a href="#">JavaScript</a></span>
                    <span class="techno"><a href="#">HTML 5</a></span>
                    <span class="techno"><a href="#">CSS 3</a></span>
                </section><br /><br />
            </section>
        </article>
        <article class="limit-dash">
            <h3>Int'Echoes</h3><br /><br />
            <section class="contact">
                <br /><br />
            </section>
        </article>
        <article class="limit-dash">
            <h3>Iti Relay Chat</h3><br /><br />
            <section class="contact">
                <br /><br />
                <section>
                    <span class="exec">Technologies</span> : <br /><br />
                    <span class="techno"><a href="#">C</a></span>
                    <span class="techno"><a href="#">HTML</a></span>
                    <span class="techno"><a href="#">CSS</a></span>
                </section><br /><br />
            </section>
        </article>
        <article class="limit-dash">
            <h3>To infinity and beyond !</h3><br /><br />
            <section class="contact">
                <br /><br />
                <section>
                </section><br /><br />
            </section>
        </article>
    </section>
</section>