<section ng-switch on="lang" class="col-xs-offset-1">
    <section>
        <h3 class="exec">DevOps - Infrastructure</h3>
        <center>
            <img src="public/img/o2t-logo.png" /><br /><br />
        </center>
        <section ng-switch-when="en" class="switch-anim">
            This mission was my first experience as DevOps engineer and in a scrum team.<br />
            The mission consist into Manage infrastructure, automate administrative operations by developing tools, integration and contribute to the technical choices of the team with teamwork in agile method.<br />
            I discovered <a ui-sref="IAC">Infrastructure as Code</a>, <a ui-sref="CI">Continuous Integration</a>, release management ... durring this experience<br /><br />
            <span class="exec">Tasks </span> :
            <ul class="contact">
                <li>Create a Python package (eg : manage SSH protocol (ssh, sftp ...) with mutliprocessing and process management)</li>
                <li>Write Python script for Jenkins</li>
                <li>Write Puppet modules and manifests</li>
                <li>Migrate Puppet 2.6 to 3.3</li>
                <li>Creation client environment for the application</li>
                <li>Manage the infrastructure</li>
            </ul>
        </section>
        <section ng-switch-when="fr" class="switch-anim">
            Cette mission a été ma première expérience en qualité d'ingénieur DevOps  et au sein d'une équipe Scrum.<br />
            La mission consiste à gérer l'infrastructure, automatiser les opérations administratives en développant des outils, de l'intégration et de contribuer au choix technique de l'équipe avec des méthodes agile.<br />
            J'ai découvert l'<a ui-sref="IAC">Infrastructure as Code</a>, le <a ui-sref="CI">Continuous Integration</a>, release management durant cette expérience ...<br /><br />
            <span class="exec">Tasks </span> :
            <ul class="contact">
                <li>Création de package python (ex : gérer le protocol SSH (ssh, sftp ...) avec du mutliprocessing et de la gestion de processus)</li>
                <li>Ecrire des scripts python pour Jenkins</li>
                <li>Ecrire des modules et des manifests Puppet</li>
                <li>Migrer Puppet 2.6 vers 3.3</li>
                <li>Création d'environement client pour l'application</li>
                <li>Gérer l'infrastructure</li>
            </ul>
        </section>
    </section>
    <br />
    <section>
        <span class="exec">Technologies</span> : <br /><br />
        <span class="techno"><a ui-sref="Python">Python</a></span>
        <span class="techno"><a ui-sref="Puppet">Puppet</a></span>
        <span class="techno"><a ui-sref="Jenkins">Jenkins</a></span><br /><br />
        <span class="techno"><a ui-sref="Network">Networking</a></span>
        <span class="techno"><a ui-sref="Git">Git</a></span>
        <span class="techno"><a ui-sref="Linux">Linux</a></span>
    </section>
</section>