
<section ng-switch on="lang">
    <section ng-switch-when="en" class="switch-anim">
        <h3 class="exec c">Profesional Projects</h3><br /><br />
    </section>
    <section ng-switch-when="fr" class="switch-anim">
        <h3 class="exec c">Projets Profesionnel</h3><br /><br />
    </section>
    <ul class="timeline">
        <li class="">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <center>
                        <img src="public/img/traxair-logo.png" /><br /><br />
                    </center>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Depuis mars 2015</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Music identification has entered our everyday lives.<br />
                            Phones, cars, radios, televisions & other devices use audio recognition technologies to give music lovers access to track identification.<br /><br />
                            But far beyond a simple gadget for music fans, audio recognition solutions have become a must-have tool for many businesses.<br />
                            In our digital era where music can be shared across the globe in the blink of an eye, labels, publishers, collecting societies or user-generated content platforms desperately need efficient & accurate solutions to track, protect & monetize their contents.<br /><br />
                            At TraxAir, our mission is to provide them with an easy & affordable access to audio recognition technologies, and create the first one-stop-shop in the industry able to monitor all media channels with a single API.
                            <center>
                                <a ui-sref="TraxAirProject" class="c">See TraxAir projects</a>
                            </center>
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            TraxAir est un éditeur logiciel autour des thémes de l'identification musicale.<br />
                            TraxAir propose aux artistes et aux labels, des services de monétisation, de promotions et de marketing sur YouTube, et s'attaque également au monitoring des lieux publics.<br />
                            <br />
                            <center>
                                <a ui-sref="TraxAirProject" class="c">Voir les projets de TraxAir</a>
                            </center>
                        </span>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <center>
                        <img src="public/img/wemanity-logo.png" /><br /><br />
                    </center>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 1 an</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            WEMANITY is an innovative consulting & digital company. We think we are about to embark on a revolution and pioneer a new way of doing business. With agility & our home-made innovations, We passionately believe we can change the world of consulting.<br /><br />
                            We are a community gathering agile pioneers & serial entrepreneurs, sharing one same and unique conviction: agile has to be part of the core of companies and considered as a real work habit.<br /><br />
                            We are convinced about the value of digital experience to help clients to grow faster & better.<br /><br />
                            We create value through technology.<br /><br />
                            Our 4 Technological Practices: Agility, Big Data, Mobility, Cloud Computing.<br /><br />
                            Our activities : Training, customer development practices, software craftsmanship, social business design, digital strategy, responsive web design, data driven social marketing, realization of innovative web-based & mobile services, continuous business Process Improvement, TDD, DevOps.<br /><br />
                            <center>
                                <a ui-sref="WemanityProject" class="c">See WEMANITY projects</a>
                            </center>
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            WEMANITY est une société de conseil innovante et société numérique. Avec agilité et nos innovations faites maison, Nous croyons passionnément que nous pouvons changer le monde du conseil.<br /><br />
                            Nous sommes une communauté rassemblant pionniers agiles et entrepreneurs en série, partageant une même et unique conviction: afin que l'agile fasse partie du noyau de l'entreprises et considéré comme une véritable habitude de travail.<br /><br />
                            Nous sommes convaincus de la valeur de l'expérience numérique pour aider ses clients à se développer plus vite et mieux.<br /><br />
                            Nous créons de la valeur grâce à la technologie.<br /><br />
                            Nos 4 pratiques technologiques: Agilité, Big Data, la mobilité, le Cloud Computing.<br /><br />
                            Nos activités: formation, les pratiques de développement, craftmanship, conception de social business, stratégie numérique, conception de sites Web sensibles, guidée par les données marketing social, réalisation web innovant.<br /><br />
                            <center>
                                <a ui-sref="WemanityProject">Voir les projets de WEMANITY</a>
                            </center>
                        </span>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <center>
                        <img src="public/img/o2t-logo.png" /><br /><br />
                    </center>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 5,5 mois</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            ONE2TEAM develops Next Generation SaaS solution fo piloting project<br />
                            Fostering collaboration and mobility to secure operational success in complex and strategic projects.<br />
                            With over 13,000 users in over 50 countries and more than 130 billion euros of assets managed in the platform project, sharing and consolidating real-time data allows better anticipate risks, a significant cost reduction steering, and an increase in the financial performance of organizations.<br /><br />
                            <center>
                                <a ui-sref="One2TeamProject">See ONE2TEAMS projects</a>
                            </center>
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            ONE2TEAM développe une solution SaaS de Pilotage de Projets de nouvelle génération<br />
                            Favorisant la collaboration et la mobilité afin de sécuriser le succès opérationnel des projets complexes et stratégiques.<br />
                            Avec plus de 13000 utilisateurs dans plus de 50 pays et plus de 130 milliards d'euros d’actifs projet gérés dans la plateforme, le partage et la consolidation de données en temps réel permet une meilleure anticipation des risques, une réduction significative des coûts de pilotage, et une augmentation de la performance financière des organisations.<br /><br />
                            <center>
                                <a ui-sref="One2TeamProject">Voir les projets de ONE2TEAMS</a>
                            </center>
                        </span>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class=" timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <center>
                        <img src="public/img/cacom-logo.png" /><br /><br />
                    </center>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2,5 mois </small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Convinced that performance depends on the ability to return to the fundamentals of business, we can help you find and implement strategies that will take you there.<br />
                            Our passion for retail takes us permanently on the ground and we get down every day for signs that prefigure trade tomorrow.<br />
                            Since 1990 CA Com, the first group of French independent communication, is dedicated to trade and distribution and gives life to this task daily with its 300 employees.<br /><br />
                            <center>
                                <a ui-sref="CaComProject">See CACOM projects</a>
                            </center>
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Convaincus que la performance dépend de la capacité à renouer avec les fondamentaux du commerce, nous vous aidons à trouver et à mettre en œuvre les stratégies qui vous y amèneront.<br />
                            Notre passion pour le retail nous emmène en permanence sur le terrain et nous nous attelons chaque jour à détecter les signes qui préfigurent du commerce de demain.<br />
                            Depuis 1990 CA Com, 1er groupe de communication indépendant Français, est dédié au commerce et à la distribution et donne vie quotidiennement à cette ambition grâce à ses 300 salariés.<br /><br />
                            <center>
                                <a ui-sref="CaComProject">Voir les projets de CACOM</a>
                            </center>
                        </span>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
        <li class="">
            <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <center>
                        <img src="public/img/zamiren-logo.png" /><br /><br />
                    </center>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2 mois</small></p>
                </div>
                <div class="timeline-body">
                    <section class="contact">
                        <span ng-switch-when="en" class="switch-anim">
                            Zamiren is a small company engaged in Research-Development in Smartgrids and connected areas.<br />
                            Its activity is based on standards in accordance with CEI TC 57.<br />
                            We at Zamiren think that the elements ofinformation exchange should be based on a coherent Information Model agreed on by different companies. These elements should be standardized.<br />
                            We are developing, in partnership with others, a methodology and the corresponding tools.<br />
                            A member of the Cluster Systematic, Zamiren takes part in research and Development projects, as for example , EPIT.<br />
                            Zamiren offers to help any project, including research projects, which want to develop a system based on the standards.<br /><br />
                            BUSINESS ACTIVITIES<br /><br />
                            Zamiren provides services in compliance with the IEC T57 standards, in particular the modelization in UML of the Information Model and the elaboration of exchange structures (XML). This is done according to the methodology proposed and Zamiren provides technical support where a system architecture has to be developed.<br />
                            The company also develops specific support tools.<br />
                            The company runs training courses on UML programming and an introduction to the 61970, 61968 and 61850 IEC standards.<br /><br />
                            <center>
                                <a ui-sref="ZamirenProject">See Zamiren projects</a>
                            </center>
                        </span>
                        <span ng-switch-when="fr" class="switch-anim">
                            Zamiren est une PME de Recherche et Développement dans le domaine des Réseaux Electriques Intelligents (SmartGrids).<br />
                            Elle fonde son activité sur le respect des normes et standards en lien avec la CEI TC57.<br />
                            Elle soutient que les éléments d'échange d'information doivent être basés sur un Modèle d'Information cohérent approuvée par différentes entreprises (ou au niveau d'une entreprise donnée) et doivent être standardisés.<br />
                            Elle développe, en partenariat, une méthode et les outils correspondants.<br />
                            Membre du pôle de compétitivité Systematic, elle participe à des projets de R&D, tel que EPIT.<br />
                            Elle propose ses service à  tout projet, y compris de recherche, qui veut mettre en place une architecture basée sur les standards.<br /><br />
                            Activité<br /><br />
                            Prestation de service autour des standards du CEI T57. En particulier modélisation UML du Modèle d'information et élaboration des structure d'échange(XML) selon la méthodologie préconisée, et plus largement support à  l'élaboration d'une architecture de système.<br />
                            Développement d'outils de support.<br />
                            Formation UML et introduction aux normes 61970, 61968, 61850 de la CEI.<br /><br />
                            <center>
                                <a ui-sref="ZamirenProject">Voir les projets de Zamiren</a>
                            </center>
                        </span>
                        <br /><br />
                    </section>
                </div>
            </div>
        </li>
    </ul>
</section>