<section ng-switch on="lang" class="col-xs-offset-1">
    <section>
        <h3 class="exec">JavaScript Developper</h3>
        <center>
            <img src="public/img/zamiren-logo.png" /><br /><br />
        </center>
        <section ng-switch-when="en" class="switch-anim">
            Developement of a visualization system data from a electrical networks by using HTML 5 technologies (nativ canvas, drag'n drop).
            Durring this experience I deepened the javascript language and object-oriented programming.<br /><br />
        </section>
        <section ng-switch-when="fr" class="switch-anim">
            Développement d'un système de visualisation de donné depuis un réseau électrique en utilisant les technologies d'HTML 5 (canvas native, drag'n drop).<br />
            Durant cette expérience j'ai approfondi le langage javascript et la programmation orrienté objet.<br /><br />
        </section>
    </section>
    <section>
        <span class="exec">Technologies</span> : <br /><br />
        <span class="techno"><a ui-sref="Other">JavaScript</a></span>
    </section>
</section>