<section>
    <section>
        <h3 class="exec">JavaScript Developper</h3>
        <section ng-switch-when="en" class="switch-anim">
            Developement of a visualization system data from a electrical networks by using HTML 5 technologies (nativ canvas, drag'n drop).
        </section>
        <section ng-switch-when="fr" class="switch-anim">
            Développement d'un système de visualisation de donné depuis un réseau électrique en utilisant les technologies d'HTML 5 (canvas native, drag'n drop)
        </section>
    </section>
</section>