<section>
    <h2>Contact</h2>
    <ul class="contact">
        <li>
            phone : [[ contact.content.phone ]]
        </li>
        <li>
            email : [[ contact.content.email ]]
        </li>
        <li>
            linkedin : <a target="_blank" href="http://fr.linkedin.com/pub/damien-goldenberg/67/347/a7/">linkedin</a>
        </li>
        <li>
            viadeo : <a target="_blank" href="http://fr.viadeo.com/fr/profile/damien.goldenberg">viadeo</a>
        </li>
    </ul>
    <br />
    <form>
        <label for="mail">Email : </label><input id="mail" class="form-control" name="mail" type="email">
        <label for=firstname>Firstname : </label><input id="firstname" class="form-control" name="firstname" type="text">
        <label for="name">Name : </label><input id="name" class="form-control" name="name" type="text">
        <label for="msg">Message : </label><br/>
        <textarea id="msg" class="form-control" name="msg"></textarea><br/>
        <center><button type="button" class="btn btn-primary">Envoyer</button></center
    </form>
</section>