<section>
    <section class="limit-dash">
        <div class="row">
            <div class="col-md-4">
                <h3 class="exec">BUSINESS SKILLS</h3>
                Knowledge of methods :
                <ul class="contact">
                    <li>Agile : Scrum & « Extrem Programming »</li>
                    <li>Waterfall method</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="exec">PERSONAL SKILLS</h3>
                <ul class="contact">
                    <li>Strong team spirit</li>
                    <li>Organized and applied</li>
                    <li>Autonomous and force proposal</li>
                    <li>Ability to adapt</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="limit-dash">
        <h2>Linux</h2>
        <img src="public/img/puppet-logo.png" />
        <article class="col-md-4">
            Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
        </article>
        <br />
        <br />
        <h3>projects related to the competence :</h3>
        <section class="col-xs-offset-1">

            <ul>
                <li>
                    <a href="">hjkjj</a>
                </li>
                <li>
                    <a href="">kkkjjhj</a>
                </li>
                <li>
                    <a href="">ppmlkjhj</a>
                </li>
                <li>
                    <a href="pplook"></a>
                </li>
            </ul>
        </section>

    </section>
    <section class="limit-dash">
        <h2>Linux</h2>
        <img src="public/img/puppet-logo.png" />
        <article class="col-md-4">
            Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
        </article>
        <br />
        <br />
        <h3>projects related to the competence :</h3>
        <section class="col-xs-offset-1">

            <ul>
                <li>
                    <a href="">hjkjj</a>
                </li>
                <li>
                    <a href="">kkkjjhj</a>
                </li>
                <li>
                    <a href="">ppmlkjhj</a>
                </li>
                <li>
                    <a href="pplook"></a>
                </li>
            </ul>
        </section>

    </section>
    <section class="limit-dash">
        <h2>Linux</h2>
        <img src="public/img/puppet-logo.png" />
        <article class="col-md-4">
            Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
        </article>
        <br />
        <br />
        <h3>projects related to the competence :</h3>
        <section class="col-xs-offset-1">

            <ul>
                <li>
                    <a href="">hjkjj</a>
                </li>
                <li>
                    <a href="">kkkjjhj</a>
                </li>
                <li>
                    <a href="">ppmlkjhj</a>
                </li>
                <li>
                    <a href="pplook"></a>
                </li>
            </ul>
        </section>

    </section>
    <section class="limit-dash">
        <h2>Linux</h2>
        <img src="public/img/puppet-logo.png" />
        <article class="col-md-4">
            Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
        </article>
        <br />
        <br />
        <h3>projects related to the competence :</h3>
        <section class="col-xs-offset-1">

            <ul>
                <li>
                    <a href="">hjkjj</a>
                </li>
                <li>
                    <a href="">kkkjjhj</a>
                </li>
                <li>
                    <a href="">ppmlkjhj</a>
                </li>
                <li>
                    <a href="pplook"></a>
                </li>
            </ul>
        </section>

    </section>
    <section class="limit-dash">
        <h2>Linux</h2>
        <img src="public/img/puppet-logo.png" />
        <article class="col-md-4">
            Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
        </article>
        <br />
        <br />
        <h3>projects related to the competence :</h3>
        <section class="col-xs-offset-1">

            <ul>
                <li>
                    <a href="">hjkjj</a>
                </li>
                <li>
                    <a href="">kkkjjhj</a>
                </li>
                <li>
                    <a href="">ppmlkjhj</a>
                </li>
                <li>
                    <a href="pplook"></a>
                </li>
            </ul>
        </section>

    </section>

</section>