<div id="intro">
    <article class="limit-dash">
        Welcome on my portfolio which aims to present my professional development and that of my projects.
        You will find my skills developed during my school and my experiences in parallel paths.<br />
        My name is Damien Goldenberg, I'm a French student. Currently I'm pursuing my studies in <a href="">IN'TECH INFO</a>, an IT high school in the ESIEA group.<br />
        <br />
        <br />
    </article>
    <!--<h3 class="exec">Last news : </h3>
    <article class="limit-dash" ng-repeat="i in blog.content">
        <h3 class="title-news">[[ i.title ]]</h3>
        <section ng-bind-html='renderText("[[ i.msg ]]")'></section>
    </article>-->
    <div class="container-fluid">

        <h2 class="exec"id="title-hapiness">Hapiness Factor</h2>
        <div class="container-fluid">
            <div class="row">
                <div id="dream" class="col-md-3">
                    My dream?<br />
                    To evolve in DevOps and share my knowledge with passionate people.
                </div>
                <div id="standup">

                </div>
                <div id="future">

                </div>
            </div>
        </div>

    </div>
</div>