<section>
    <ul class="limit-dash">
        <!--
        <li>
            <a scroll-to="anchor0">./Professional projects</a>
        </li>
        <li>
            <a scroll-to="anchor1">./Student projects</a>
        </li>
        <li>
            <a scroll-to=anchor2">./Personal projects</a>
        </li>
        -->
        <!--<li>
            <a ng-click="goToAnchor(0)">./Professional projects</a>
        </li>
        <li>
            <a ng-click="goToAnchor(1)">./Student projects</a>
        </li>
        <li>
            <a ng-click="goToAnchor(2)">./Personal projects</a>
        </li>
        <br /><br />-->
        <li>
            <a href="#anchor0">./Professional projects</a>
        </li>
        <li>
            <a href="#anchor1">./Student projects</a>
        </li>
        <li>
            <a href="#anchor2">./Personal projects</a>
        </li>
        <br /><br />
    </ul>
    <h1 id="anchor0">Professional projects</h1>
    <section>
        <article class="limit-dash">
            <div class="row">
                <div class="col-md-2">
                    <img src="public/img/puppet-logo.png">
                </div>
                <div class="col-md-6">
                    Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
                </div>
            </div>
            <center>
                <a href="">See TOTO projects</a>
            </center>
            <br/>
            <br/>
        </article>
        <article class="limit-dash">
            <div class="row">
                <div class="col-md-2">
                    <img src="public/img/puppet-logo.png">
                </div>
                <div class="col-md-6">
                    Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
                </div>
            </div>
            <center>
                <a href="">See TOTO projects</a>
            </center>
            <br/>
            <br/>
        </article>
        <article class="limit-dash">
            <div class="row">
                <div class="col-md-2">
                    <img src="public/img/puppet-logo.png">
                </div>
                <div class="col-md-6">
                    Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
                </div>
            </div>
            <center>
                <a href="">See TOTO projects</a>
            </center>
            <br/>
            <br/>
        </article>
    </section>
    <h1 id="anchor1">Student projects</h1>
    <section>
<article class="limit-dash">
            <div class="row">
                <div class="col-md-2">
                    <img src="public/img/puppet-logo.png">
                </div>
                <div class="col-md-6">
                    Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
                </div>
            </div>
            <center>
                <a href="">See TOTO projects</a>
            </center>
            <br/>
            <br/>
        </article>
        <article class="limit-dash">
            <div class="row">
                <div class="col-md-2">
                    <img src="public/img/puppet-logo.png">
                </div>
                <div class="col-md-6">
                    Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
                </div>
            </div>
            <center>
                <a href="">See TOTO projects</a>
            </center>
            <br/>
            <br/>
        </article>
        <article class="limit-dash">
            <div class="row">
                <div class="col-md-2">
                    <img src="public/img/puppet-logo.png">
                </div>
                <div class="col-md-6">
                    Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
                </div>
            </div>
            <center>
                <a href="">See TOTO projects</a>
            </center>
            <br/>
            <br/>
        </article>
    </section>
    <h1 id="anchor2">Personal projects</h1>
    <section>
<article class="limit-dash">
            <div class="row">
                <div class="col-md-2">
                    <img src="public/img/puppet-logo.png">
                </div>
                <div class="col-md-6">
                    Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
                </div>
            </div>
            <center>
                <a href="">See TOTO projects</a>
            </center>
            <br/>
            <br/>
        </article>
        <article class="limit-dash">
            <div class="row">
                <div class="col-md-2">
                    <img src="public/img/puppet-logo.png">
                </div>
                <div class="col-md-6">
                    Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
                </div>
            </div>
            <center>
                <a href="">See TOTO projects</a>
            </center>
            <br/>
            <br/>
        </article>
        <article class="limit-dash">
            <div class="row">
                <div class="col-md-2">
                    <img src="public/img/puppet-logo.png">
                </div>
                <div class="col-md-6">
                    Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
                </div>
            </div>
            <center>
                <a href="">See TOTO projects</a>
            </center>
            <br/>
            <br/>
        </article>
    </section>
</section>