<section>
    <center>
        <img src="public/img/puppet-logo.png"/>
        <h2 class="exec">Autonumous and force proposal</h2><br />
    </center>

    <article ng-switch on="lang">
        <section ng-switch-when="en" class="switch-anim">
          
        </section>
        <section ng-switch-when="fr" class="switch-anim">
	  
        </section>
    </article>
    <article ng-switch on="lang">
            <h3 class="exec" ng-switch-when="en" class="switch-anim">Autonumous and force proposal's experiences :</h3>
            <h3 class="exec" ng-switch-when="fr" class="switch-anim">Expériences réalisés en Autonumous and force proposal :</h3>
        <br />
        <ul>
            <li>
                <span class="techno"><a ui-sref="TraxairProject">Traxair Music Technologies</a></span><br /><br />
            </li>
            <li>
                <span class="techno"><a ui-sref="WemanityProject">Wemanity</a></span><br /><br />
            </li>
            <li>
                <span class="techno"><a ui-sref="One2TeamProject">ONE2TEAM</a></span><br /><br />
            </li>
        </ul>
    </article>
    <article ng-switch on="lang">
      <section ng-switch-when="en" class="switch-anim">
	toto
      </section>
      <section ng-switch-when="fr" class="switch-anim">
	<h3 class="exec" >Point de vue de scrum</h3>
      </section>
    </article>
</section>
