<section>
    <center>
        <img src="public/img/puppet-logo.png"/>
        <h2 class="exec">Autonome et force de proposition</h2><br />
        <!--<h2 class="exec">Autonumous and force proposal</h2><br />-->
    </center>

    <article ng-switch on="lang">
        <section ng-switch-when="en" class="switch-anim">
          
        </section>
        <section ng-switch-when="fr" class="switch-anim">
            Que ce soit durant les périodes de projets à l’école, pendant mon stage ou lors de mon alternance, j’ai constamment dû faire preuve d’autonomie.<br />
            C’est, pour moi, une compétence importante que chaque personnes dans projet se doit de posséder.<br />
            Beaucoup de projets sont pris en charge par une équipe, mais, une fois les tâches partagées, il convient à chacun de travailler seul.<br />
            L’autonomie ne se limite pas à cela.<br />
            Il faut être capable de prendre des initiatives, de trouver nos propres solutions et faire des propositions, mais aussi ne pas avoir peur d’aller demander de l’aide quand nécessaire.<br />
            Lors de mes projets, à l’école, nous étions guidés par un professeur référent.<br />
            Mais plus nous avancions dans notre scolarité plus il nous laissait nous débrouiller afin d’être plus indépendants.<br />
            C’était à nous de faire nos propres recherches et de trouver comment développer notre solution.<br /><br />

            Durant mon stage, j’ai été très vite considéré comme un ingénieur et un membre de l'équipe.<br />
            Mon maître de stage me laissit me débrouiller tout seul sur mes tâches au cours de la journée puis il me demandait le lendemain de faire lors d'un meeting le matin un bref contre rendu d'où j'en étais et si il y aait des blocages.<br />
            Du fait, que je m'adapter vite et que j'avais une bonne autonomie mon supérieur me faisait confiance.<br />
            C’était à moi de travailler, il n’avait aucun moyen de savoir ce que je faisais ou le temps qu’allait prendre chaque tâche.<br /><br />

            Pendant le début de mon alternance, était de mettre en place une infrastructure pour les projets internes et de proposer des solutions pour réduire le time to market. Mon tuteur n'était pas très présent du coup j'étais en parfaite autonomie et je prévoyais un planning.<br />
            Au bout de quelques mois, on m'a proposé de m'envoyer en consulting chez un client, et j'ai accepté. Pour c'était une vraie preuve de confiance de m'envoyer chez un client d'autant plus que c'était à la Banque de France.<br />
            La seule personne connaissant la solution travaillait sur d’autres projets (j’étais là pour le remplacer), il n’avait donc que peu de temps à m’accorder pour me former.<br /><br />

            Par la suite, 1 an après j'ai changé d'entreprise et j'ai rejoint une start up.<br />
            Quand je les ai rejoint dans l'équipe technique, on était que 2 le CTO qui était plus concentré sur la partie logicielle et moi qui était sur la partie DevOps/infrastructure.<br />
            J'avais une autonomie très importante et je devais pouvoir proposer des solutions et expliquer le choix afin de ne pas perdre de temps.<br />
            Par la suite, la start up m'a même lassé participer à des meetup en tant qu'orateur pour présenter des éléments mise en place lors de mon altenance.<br /><br />

            Depuis le début de ma scolarité post-bac jusqu’à maintenant, la majeure partie de mon travail s’est faite en autonomie totale.<br />
        </section>
    </article>
    <article ng-switch on="lang">
            <h3 class="exec" ng-switch-when="en" class="switch-anim">Autonumous and force proposal's experiences :</h3>
            <h3 class="exec" ng-switch-when="fr" class="switch-anim">Expériences réalisées en Autonome et force de proposition :</h3>
        <br />
        <ul class="contact">
            <li>
                <span class="techno"><a ui-sref="TraxairProject">Traxair Music Technologies</a></span><br /><br />
            </li>
            <li>
                <span class="techno"><a ui-sref="WemanityProject">Wemanity</a></span><br /><br />
            </li>
            <li>
                <span class="techno"><a ui-sref="One2TeamProject">ONE2TEAM</a></span><br /><br />
            </li>
        </ul>
    </article>
</section>
