<section ng-switch on="lang">
    <center>
        <img src="public/img/en.png"/>
        <h2 class="exec">Anglais</h2><br />
    </center>
    L’anglais est essentiel en informatique.<br />
    L’anglais est un outil, qui va, permettre de nous faciliter la vie. L’anglais donne accès à un nombre beaucoup plus important de ressources, que cela soit des outils dont les menus ne sont pas traduits ou des forums d’entraide internationaux, ou encore, simplement, des documentations en anglais.<br /><br />
    Au lycée, l’anglais ne me semblait pas une priorité, et je ne travaillais pas très sérieusement mes cours.<br />
    C’est quand j’ai commencé à faire de l’informatique que j’ai compris que l'anglais est très important.<br />
    En effet lorsque j'ai commencé à epitech et qu'on commençait à utiliser le système Linux, on m'a très rapidement dit de faire man de la commande (ex: man ls) pour savoir comment fonctionnait une commande ou une fonction en C.<br />
    Du coup à ce moment là j'arrivais à me débrouiller en essayant de déchiffrer ou de trouver l'information en français.<br />
    Par la suite au moment où je me suis lancé sur des thèmes autour du DevOps, je me suis rendu compte que c'était quelque chose de très récent et que l'anglais était inévitable.<br />
    Je me lancé vraiment lancé dans l'anglais en lisant des livres comme Continuous Delivery, ou bien en essayant de suivre des conférences sur internet et en regardant des séries en anglais.<br /><br />
    Dans le cadre d’une entreprise, je n’ai pas de problème à lire de la documentation ou à faire de la veille technologique.<br />
    Mais je pense que pouvoir communiquer avec des équipes internationales est pour moi encore quelque chose de difficile du fait que je n'ai pas eu l'occasion de pratiqué mon anglais à l'orale.<br /><br />
    <h3 class="exec" ng-switch-when="fr" class="switch-anim">Expériences réalisées sur la communication :</h3>
    <br />
    <br />
    <ul class="contact">
        <li>
            <span class="techno"><a ui-sref="TraxairProject">TraxAir</a></span><br /><br />
        </li>
        <li>
            <span class="techno"><a ui-sref="WemanityProject">Wemanity</a></span><br /><br />
        </li>
    </ul>
</section>