<section>
    <center>
        <img src="public/img/puppet-logo.png"/>
        <h2 class="exec">Scrum</h2><br />
    </center>

    <article ng-switch on="lang">
        <section ng-switch-when="en" class="switch-anim">
            Scrum is an organization framework for complex product development.<br />
            It is defined by its creators as a "framework for responding to complex and changing problems while delivering a productive and creative products of the highest possible value.<br />
            Scrum is considered as an agile method.<br />
            The method is based on the division of a project in time boxes, called "sprints".<br />
            Sprints can last between a few hours and one month (with a preference for two weeks).<br />
            Each sprint begins with an estimate followed by operational planning.<br />
            The sprint ends with a demonstration of what has been completed.<br />
            Before starting a new sprint, the team held a retrospective.<br />
            This technique analyzes the progress of completed sprint to improve its practices.<br />
            The adaptation and responsiveness of the development team is facilitated by its self-organization.<br /><br />
            Scrum does not cover any software engineering technique.<br />
            In the case of application development, it is necessary to supplement with the software quality practices.<br />
            For example, we may use practices from the Extreme Programming.
        </section>
        <section ng-switch-when="fr" class="switch-anim">
            Scrum est un framework d’organisation de développement de produits complexes.<br />
            Il est défini par ses créateurs comme un « cadre de travail permettant de répondre à des problèmes complexes et changeants tout en livrant de manière productive et créative des produits de la plus grande valeur possible.<br />
            Scrum est considéré comme une méthode agile.<br />
            La méthode s'appuie sur le découpage d'un projet en boîtes de temps, nommés « sprints ».<br />
            Les sprints peuvent durer entre quelques heures et un mois (avec une préférence pour deux semaines).<br />
            Chaque sprint commence par une estimation suivie d'une planification opérationnelle.<br />
            Le sprint se termine par une démonstration de ce qui a été achevé.<br />
            Avant de démarrer un nouveau sprint, l'équipe réalise une rétrospective.<br />
            Cette technique analyse le déroulement du sprint achevé, afin d'améliorer ses pratiques.<br />
            L'adaptation et la réactivité de l'équipe de développement est facilitée par son auto-organisation.<br /><br />
            La méthode Scrum ne couvre aucune technique d'ingénierie du logiciel.<br />
            Dans le cas d'un développement d'application, il est nécessaire de la compléter avec des pratiques de qualité du logiciel.<br />
            Par exemple, on pourra utiliser des pratiques issues de l'Extreme Programming.
            <section>
                <br />
                <br />
                <pre>
                    <b>Participant</b> : Ken, j’ai un projet impossible, comment la méthode Scrum peut m’aider.<br />
                    <b>Ken</b> : Fais le en Waterfall.<br />
                    <b>Participant</b> : Comment ? Scrum ne peut pas m’aider ?<br />
                    <b>Ken</b> : Fais le en Waterfall.<br />
                    <b>Participant</b> : Je croyais que les méthodes Agiles permettait de faciliter les choses et pour mon projet impossible …<br />
                    <b>Ken</b> : C’est simple, si tu le fais en Scrum, tu vas constater que le projet est vraiment impossible en 3 sprints. Si tu le fais en Waterfall, tu vas mettre 9 mois pour constater que c’est vraiment impossible. Fais le en Waterfall, tu auras 7 mois de plus pour trouver un autre job !
                </pre>
                — Ken Schwaber<br /><br />
            </section>
        </section>
    </article>
    <article ng-switch on="lang">
        <h3 class="exec" ng-switch-when="en" class="switch-anim">Scrum's experiences :</h3>
        <h3 class="exec" ng-switch-when="fr" class="switch-anim">Expériences réalisés en Scrum :</h3>
        <br />
        <ul>
            <li>
                <span class="techno"><a ui-sref="TraxairProject">Traxair Music Technologies</a></span><br /><br />
            </li>
            <li>
                <span class="techno"><a ui-sref="WemanityProject">Wemanity</a></span><br /><br />
            </li>
            <li>
                <span class="techno"><a ui-sref="One2TeamProject">ONE2TEAM</a></span><br /><br />
            </li>
        </ul>
    </article>
    <article ng-switch on="lang">
        <section ng-switch-when="en" class="switch-anim">
            Scrum is a practice that allows you to see quickly when na project will not work and avoid "crash".<br />
            Also the scrum team works on the basis of self-organization.<br />
            Unlike other methods of work as waterfall, the methodology requires to have a scrum master, a product owner, the "dev team" and good communication and transparency within the team.<br />
            If one of the roles mentioned above is absent, the method might not work or go to freestyle method (rough-and-tumble).<br />
            Similarly with the sprint and retrospective system, we can see the evolution over time of the efficiency of the team, the moral and other informations.
        </section>
        <section ng-switch-when="fr" class="switch-anim">
            <h3 class="exec" >Point de vue de scrum</h3>
            Scrum est une pratique qui permet de voir plus rapidement lorsqu'un projet na va pas fonctionner et éviter la "casse".<br />
            Egalement les équipes scrum fonctionne sur la base de l'auto organisation.<br />
            Contrairement à d'autre méthode de travail comme waterfall, la méthodologie requiert d'avoir un scrum master, un product owner, la "dev team" et une bonne communication et transparence au sein de l'équipe.<br />
            Si un des rôles cité précdemment est absent, la méthode risque de ne pas fonctionner ou d'aller vers une méthode "freestyle" (désordonné).
            De même grâce au système de sprint et de rétrospective, on peut voir l'évolution sur le temps de l'efficience de l'équipe, le morale et d'autres informations.
        </section>
    </article>
</section>
