<section ng-switch on="lang">
    Depuis toujours, les projets sont gérés avec la méthode dite « classique » ou « water fall » qui se caractérise par recueillir les besoins, définir le produit, le développer et le tester avant de le livrer.<br />
    On parle alors ici d’une approche prédictive « cycle en cascade ».<br />
    Il s’agit ici de prévoir des phases séquentielles où il faut valider l’étape précédente pour passer à la suivante.<br />
    Le chef de projet doit alors s’engager sur un planning précis de réalisation du projet en prévoyant des jalons de débuts et fins de phases ainsi que les tâches à effectuer.<br />
    Il faut tout faire bien du premier coup car elle ne peut pas permettre de retours en arrière.<br />
    Une décision ou un problème rencontré dans une phase peuvent remettre en cause partiellement ou totalement les phases précédentes validées.<br />
    Avec une méthode waterfall les risques sont détectés tardivement puisqu’il faut attendre la fin du développement pour effectuer la phase de test. Plus le projet avance, plus l’impact des risques augmente : il sera toujours plus difficile et coûteux de revenir en arrière lorsqu’on découvre une anomalie tardivement.<br /><br />
    <h3 class="exec" ng-switch-when="en" class="switch-anim">Waterfall method experiences :</h3>
    <h3 class="exec" ng-switch-when="fr" class="switch-anim">Expériences réalisés autour des méthodes Waterfall :</h3>
    <br />
    <br />
    <ul class="contact">
        <li>
            <span class="techno"><a ui-sref="WemanityProject">Banque de France</a></span><br /><br />
        </li>
        <li>
            <span class="techno"><a ui-sref="ItiProject">INTECH</a></span><br /><br />
        </li>
    </ul>
    <section ng-switch-when="fr" class="switch-anim">
            <h3 class="exec" >Point de vue de Waterfall</h3>
            De ce que j'ai pratiqué en Waterfall, je trouve que la méthode a fait ses preuves mais à l'heure actuel ne correspond plus au réel besoin du marché.<br />
            Beaucoup de projet en Waterfall pour qu'il respect les spécifications sont obligés de négliger des aspect du produit ou de cacher certaines spécifications qui ne sont pas respectées.<br />
            Egalement en général les membres d'une équipes en waterfall ne sont pas autonomes.<br />
            Contrairement à d'autre méthode de travail comme dans Scrum, la méthodologie n'a besoin juste d'un chef de projet et de l'équipe de développement.<br />
            Le retard n'est pas permis et n'est pas bien géré si il y en a dans un projet en Waterfall, du coup cette méthode peut être idéal sur des projets "connus" et avec peu de risque.<br />
            De même on évalue par l'éfficience de son équipe, ni le moral donc il est plus difficile  de comprendre pourquoi il y a eu un problème et de le corriger.
        </section>
</section>