<section>
    <h2 class="exec">Contact</h2>
    <article ng-switch on="lang">
            <section ng-switch-when="en" class="switch-anim">

            </section>
            <section ng-switch-when="fr" class="switch-anim">

            </section>
        </article>
    <ul class="contact">
        <li ng-switch on="lang">
            <span ng-switch-when="en" class="switch-anim">
                Phone : 00 33 6 79 75 17 17
            </span>
            <span ng-switch-when="fr" class="switch-anim">
                Téléphone : 00 33 6 79 75 17 17
            </span>

        </li>
        <li>
            Email : damdam.gold@gmail.com
        </li>
        <li ng-switch on="lang">
            <span ng-switch-when="en" class="switch-anim">
                Social Networks :
            </span>
            <span ng-switch-when="fr" class="switch-anim">
                Réseaux Sociaux
            </span>
        </li>
        <ul class="contact">
            <li><a target="_blank" href="http://fr.linkedin.com/pub/damien-goldenberg/67/347/a7/">LinkedIn</a></li>
            <li><a target="_blank" href="http://fr.viadeo.com/fr/profile/damien.goldenberg">Viadeo</a></li>
        </ul>
    </ul>
    <br />
    <br />
</section>