<section id="skills">
    <div class="row limit-dash">
        <div class="col-md-4" ng-switch on="lang">
            <span ng-switch-when="en">
                <h3 class="exec switch-anim">Business Skills</h3>
            </span>
            <span ng-switch-when="fr">
                <h3 class="exec switch-anim">Compétences professionnelles</h3>
            </span>
        </div>
        <div class="col-md-4  col-md-offset-4" ng-switch on="lang">
            <span ng-switch-when="en">
                <h3 class="exec switch-anim">Technical Skills</h3>
            </span>
            <span ng-switch-when="fr">
                <h3 class="exec switch-anim">Compétences techniques</h3>
            </span>
        </div>
    </div>
    <div class="row limit-dash">
        <div class="col-md-4">
            <ul class="contact">

                <li><span class="exec">Management</span></li>
                <ul class="contact">
                    <li><a ui-sref="Scrum">Scrum</a></li>
                    <li><a ui-sref="XP">Extrem Programming</a></li>
                    <li><a ui-sref="Kanban">Kanban</a></li>
                    <li><a ui-sref="Lean">Lean</a></li>
                    <li><a ui-sref="LeanStartUp">Lean Start Up</a></li>
                    <li><a ui-sref="Waterfall">Waterfall method</a></li>
                </ul>
                <li ng-switch on="lang">
                    <span class="exec switch-anim" ng-switch-when="en">Personnal skills</span>
                    <span ng-switch-when="fr" class="exec switch-anim">Compétences Personnelles</span>
                    </span> :
                </li>
                <ul class="contact">
                    <li ng-switch on="lang">
                        <a ui-sref="StrongTeamSpirit" ng-switch-when="en" class="switch-anim">Strong team spirit</a>
                        <a ui-sref="StrongTeamSpirit" ng-switch-when="fr" class="switch-anim">Fort esprit d'équipe</a>
                    </li>
                    <li ng-switch on="lang">
                        <a ui-sref="OrganisedAndApplied" ng-switch-when="en" class="switch-anim">Organized and applied</a>
                        <a ui-sref="OrganisedAndApplied" ng-switch-when="fr" class="switch-anim">Organisé et appliqué</a>
                    </li>
                    <li ng-switch on="lang">
                        <a ui-sref="AutonomousAndForceProposal" ng-switch-when="en" class="switch-anim">Autonomous and force proposal</a>
                        <a ui-sref="AutonomousAndForceProposal" ng-switch-when="fr" class="switch-anim">Autonome et force de proposition</a>
                    </li>
                    <li ng-switch on="lang">
                        <a ui-sref="AbilityToAdapt" ng-switch-when="en" class="switch-anim">Ability to adapt</a>
                        <a ui-sref="AbilityToAdapt" ng-switch-when="fr" class="switch-anim">Capacité à s'adapter</a>
                    </li>
                </ul>
            </ul>
        </div>
        <div class="col-md-4  col-md-offset-4">
            <ul class="contact">
                <li ng-switch on="lang">
                    <span class="exec switch-anim" ng-switch-when="en">Operating System & Network</span>
                    <span class="exec switch-anim" ng-switch-when="fr">Systèmes d'exploitation & Réseau</span>
                </li>
                <ul class="contact">
                    <li><a ui-sref="Linux">Linux</a></li>
                    <li><a ui-sref="Windows">Windows</a></li>
                    <li><a ui-sref="OSI">OSI model</a></li>
                    <li><a ui-sref="TCPIP">TCP / IP</a></li>
                    <li><a ui-sref="Cloud">Cloud</a></li>
                    <li><a ui-sref="Monitoring">Supervision & Monitoring</a></li>
                    <li><a ui-sref="Container">Container</a></li>
                    <li ng-switch on="lang">
                        <a ui-sref="ITSecurity" ng-switch-when="en" class="switch-anim">IT security</a>
                        <a ui-sref="ITSecurity" ng-switch-when="fr" class="switch-anim">Sécurité informatique</a>
                    </li>
                </ul>
                <li ng-switch on="lang">
                    <span class="exec switch-anim" ng-switch-when="en">Programming Languages</span>
                    <span class="exec switch-anim" ng-switch-when="fr">Langages de Programmation</span>
                </li>
                <ul class="contact">
                    <li><a ui-sref="Python">Python</a></li>
                    <li><a ui-sref="C">C</a></li>
                    <li><a ui-sref="Perl">Perl</a></li>
                    <li><a ui-sref="JavaScript">JavaScript</a></li>
                </ul>
                <li><span class="exec">DevOps</span></li>
                <ul class="contact">
                    <li><a ui-sref="CD">Continuous Delivery</a></li>
                    <li><a ui-sref="CD2">Continuous Deployment</a></li>
                    <li><a ui-sref="CI">Continuous Integration</a></li>
                    <!-- <li><a ui-sref="CAMS">Culture, Automate, Measure and Share</a></li> -->
                    <li><a ui-sref="IAC">Infrastructure as Code</a></li>
                    <li><a ui-sref="SCM">Source Code Management</a></li>
                    <li><a ui-sref="Packaging">Packaging</a></li>
                </ul>
                <!--
                <li><span class="exec">Frameworks : </span></li>
                <ul class="contact">
                    <li><a ui-sref="Fabric">Fabric</a></li>
                    <li><a ui-sref="Scapy">Scapy</a></li>
                    <li><a ui-sref="Django">Django</a></li>
                    <li><a ui-sref="AngularJS">AngularJS</a></li>
                    <li><a ui-sref="JQuery">JQuery</a></li>
                    <li><a ui-sref="D3">D3</a></li>
                    <li><a ui-sref="RaphaelJS">RaphaelJS</a></li>
                </ul>
                -->
            </ul>
        </div>
        <!--
        <div class="col-md-4">
            <ul class="contact">
                <li><span class="exec">SCM</span> : </li>
                <ul class="contact">
                    <li><a ui-sref="Git">Git</a></li>
                    <li><a ui-sref="SVN">SVN</a></li>
                </ul>
                <li><span class="exec">DevOps</span> : </li>
                <ul class="contact">
                    <li><a ui-sref="Docker">Docker</a></li>
                    <li><a ui-sref="Jenkins">Jenkins</a></li>
                    <li><a ui-sref="DeployIT">DeployIT</a></li>
                </ul>
                <li ng-switch on="lang">
                    <span class="exec switch-anim" ng-switch-when="en">Building</span>
                    <span class="exec switch-anim" ng-switch-when="fr">Compilation</span>
                </li>
                <ul class="contact">
                    <li><a ui-sref="Ant">Ant</a></li>
                    <li><a ui-sref="Maven">Maven</a></li>
                    <li><a ui-sref="Make">Make</a></li>
                </ul>
                <li ng-switch on="lang">
                    <span class="exec switch-anim" ng-switch-when="en">IT Security</span>
                    <span class="exec switch-anim" ng-switch-when="fr">Sécurité informatique</span>
                </li>
                <ul class="contact">
                    <li><a ui-sref="Nmap">Nmap</a></li>
                    <li><a ui-sref="Nessus">Nessus</a></li>
                    <li><a ui-sref="Nexpose">Nexpose</a></li>
                    <li><a ui-sref="Wireshark">Wireshark</a></li>
                    <li><a ui-sref="TCPDump">Tcpdump</a></li>
                </ul>
                <li><span class="exec" ng-switch on="lang">Supervision & Monitoring</span> : </li>
                <ul class="contact">
                    <li><a ui-sref="ZenOSS">ZenOSS</a></li>
                    <li><a ui-sref="DataDog">DataDog</a></li>
                    <li><a ui-sref="ELK">ELK</a></li>
                </ul>
                <li ng-switch on="lang">
                    <span class="exec switch-anim" ng-switch-when="en">Project management</span>
                    <span class="exec switch-anim" ng-switch-when="fr">Gestion de projets</span>
                </li>
                <ul class="contact">
                    <li><a ui-sref="Redmine">Redmine</a></li>
                    <li><a ui-sref="Trello">Trello</a></li>
                    <li><a ui-sref="Gantter">Gantter</a></li>
                </ul>
            </ul>
        </div>
        -->
    </div>
</section>