<div id="intro">

    <article class="limit-dash" ng-switch on="lang">
        <section ng-switch-when="en" class="switch-anim">
            My name is Damien Goldenberg. Currently, I'm pursuing alternate IT studies with actual <a href="http://wemanity.com" target="_blank">Wemanity, the agile driving force</a> startup.<br />
            This space is to tell you about my professional project and my passion for the IT, you will find my skills developed during my studies and I also acquired experience in these and in my career.<br />
            I'm a French student. I begin the IT at <a href="http://www.epitech.eu" target="_blank">Epitech</a>, learning elementary programming with the C language and Linux operating system. Then I redirected to <a href="http://www.intechinfo.fr" target="_blank">IN'TECH INFO</a> in the Operating Systems and Networks expertise, because this school is very pratical with project near of the professional world and help student to build their profesionnal project.<br />
            Part of its philosophy is to learn basic knowledge, after durring the semester we work on concrete project durring 5 months (near the enterprise world) wich we can let know more advanced knowledge or learn new knowledges.<br /><br />

            I'm real passionate of IT, I'm a geek. I like discover new languages or technologies and launch me into ambitious and enriching projects. Also, I love to participate at IT challenges (like : Hackathlon, CTF, Start up weekend ...)<br />
            I like programming with Python and JavaScript language, working on DevOps challenges, I would like learning Big Data in the future , learn the Go language and sharing my knowledges.<br /><br />

            I'm working at <a href="http://wemanity.com" target="_blank">Wemanity, the agile driving force</a> as DevOps engineer, in the Consulting pole.
        </section>
        <section ng-switch-when="fr" class="switch-anim">
            Je m'appelle Damien Goldenberg. Je suis acutellement en train de faire mes études d'informatique en alternance dans la startup <a href="http://wemanity.com" target="_blank">Wemanity, the agile driving force</a>.<br />
            Cette espace sert à présenter mon projet professionnel et de ma passion pour l'informatique, vous trouverez mes compétences acquises au cours de mes études et mes expériences acquisent au cours de celles-ci et de mon parcours professionnel. <br />
            Je suis un étudiant français, j'ai commencè l'informatique à l'<a href="http://www.epitech.eu" target="_blank">Epitech</a>, en apprenant la programmation élémentaire avec le langage C et sur le système d'exploitation Linux. Après je me suis réorrienté vers <a href="http://www.intechinfo.fr" target="_blank">IN'TECH INFO</a> dans la spécialité Système et Réseaux, parce que cette école est orrienté sur la pratique avec des projets proche du monde professionnel et aider l'élève à construire leur projet profesionnel.<br />
            Une partie de sa philosophie est d'apprendre les connaissances de base, après durant le semestre, nous travaillons sur des projets concret pendant mois (proche du monde de l'entreprise) avec lesquels nous pouvons approfondir nos connaissances où même en apprendre de nouvelles. <br /> <br />

            Je suis réellement passionné par l'informatique, je suis un geek. J'ai découvrir de nouveaux langages de programmation ou de nouvelles technologies et me lancer dans des projets ambitieux et enrichissants. Egalement, j'adore participer à des challanges informatiques (comme : Hackathlon, CTF, Startup week end ...)<br />
            J'aime programmer avec les langages de programmations Python et JavaScript, travailler sur des challenges DevOps, J'aimerai dévellopper mes connaissances sur le Big Data, apprendre le langage Go et partager mes connaissances.<br /><br />

            Je travail actuellement chez <a href="http://wemanity.com" target="_blank">Wemanity, the agile driving force</a> comme ingénieur DevOps, dans le pôle consulting.
        </section>
        <br />
        <br />
    </article>
    <h2 class="exec"id="title-hapiness">Hapiness Factor</h2><br />
        <div id="hapiness" class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div id="future" class="col-md-3" ng-switch on="lang">
                    <section ng-switch-when="en" class="switch-anim">
                        In 5 years I see myself in an agile structure with DevOps "advanced" process.<br />
                        Also able to transmit my knowledge.
                    </section>
                    <section ng-switch-when="fr" class="switch-anim">
                        Dans 5 ans, je me vois dans une structure agile avec des processus DevOps « avancés ».<br />
                        Egalement pouvoir transmettre mes connaissances.
                    </section>
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <div id="dream" class="col-md-3" ng-switch on="lang">
                    <section ng-switch-when="en" class="switch-anim">
                        My dream?<br />
                        To evolve in DevOps and share my knowledge with passionate people.
                    </section>
                    <section ng-switch-when="fr" class="switch-anim">
                        Mon rêve ?<br />
                        Pouvoir évoluer dans le DevOps, ainsi que partager mes connaissances avec des personnes passionnées.
                    </section>
                </div>
                <div class="col-md-3">
                    <img src="public/img/portrait.png" />
                </div>
                <div id="standup" class="col-md-3" ng-switch on="lang">
                    <section ng-switch-when="en" class="switch-anim">
                        What makes me get up every morning ?<br />
                        I like challenges and work on ambitious projects.
                    </section>
                    <section ng-switch-when="fr" class="switch-anim">
                        Ce qui me fait me lever tous les matins ?<br />
                        J’aime relever des défis et travailler sur des projets ambitieux.
                    </section>
                </div>
            </div>
        </div>
</div>