<div id="intro">


    <article class="limit-dash" ng-switch on="lang">
        <section class="geek_code">
            function presentation()<br />
            {
        </section>
        <section ng-switch-when="en" class="switch-anim content_geek_code">
            My name is Damien Goldenberg. Currently, I'm pursuing alternate IT studies with actual <a ui-sref="Pro">TraxAir Music Tecnologies</a> startup.<br />
            This space is to tell you about my professional project and my passion for the IT, you will find my skills developed during my studies and I also acquired experience in these and in my career.<br />
            I'm a French student. I begin the IT at <a ui-sref="Edu">Epitech</a>, learning elementary programming with the C language and Linux operating system. Then I redirected to <a ui-sref="Edu">IN'TECH INFO</a> in the Operating Systems and Networks expertise, because this school is very pratical with project near of the professional world and help student to build their profesionnal project.<br />
            Part of its philosophy is to learn basic knowledge, after durring the semester we work on concrete project durring 5 months (near the enterprise world) wich we can let know more advanced knowledge or learn new knowledges.<br /><br />

            I'm real passionate of IT, I'm a geek. I like discover new languages or technologies and launch me into ambitious and enriching projects. Also, I love to participate at IT challenges (like : Hackathlon, CTF, Start up weekend ...)<br />
            I like programming with Python and JavaScript language, working on DevOps challenges, I would like learning Big Data in the future , learn the Go language and sharing my knowledges.<br /><br />

            I'm working at <a ui-sref="Pro">TraxAir Music Tecnologies</a> as DevOps engineer.
        </section>
        <section ng-switch-when="fr" class="switch-anim content_geek_code">
            Je m'appelle Damien Goldenberg. Je suis acutellement en train de faire mes études d'informatique en alternance dans la startup <a ui-sref="Pro">TraxAir Music Tecnologies</a>.<br />
            Cette espace sert à présenter mon projet professionnel et de ma passion pour l'informatique, vous trouverez mes compétences acquises au cours de mes études et mes expériences acquisent au cours de celles-ci et de mon parcours professionnel. <br />
            Je suis un étudiant français, j'ai commencè l'informatique à l'<a ui-sref="Edu">Epitech</a>, en apprenant la programmation élémentaire avec le langage C et sur le système d'exploitation Linux. Après je me suis réorrienté vers <a ui-sref="Edu">IN'TECH INFO</a> dans la spécialité Système et Réseaux, parce que cette école est orrienté sur la pratique avec des projets proche du monde professionnel et aider l'élève à construire leur projet profesionnel.<br />
            Une partie de sa philosophie est d'apprendre les connaissances de base, après durant le semestre, nous travaillons sur des projets concret pendant mois (proche du monde de l'entreprise) avec lesquels nous pouvons approfondir nos connaissances où même en apprendre de nouvelles. <br /> <br />

            Je suis réellement passionné par l'informatique, je suis un geek. J'ai découvrir de nouveaux langages de programmation ou de nouvelles technologies et me lancer dans des projets ambitieux et enrichissants. Egalement, j'adore participer à des challanges informatiques (comme : Hackathlon, CTF, Startup week end ...)<br />
            J'aime programmer avec les langages de programmations Python et JavaScript, travailler sur des challenges DevOps, J'aimerai dévellopper mes connaissances sur le Big Data, apprendre le langage Go et partager mes connaissances.<br /><br />

            Je travail actuellement chez <a ui-sref="Pro">TraxAir Music Tecnologies</a> comme ingénieur DevOps.
        </section>
        <br />

        <section class="geek_code">
            <span class="content_geek_code geek_code">return 0</span><br />
            }
        </section>
        <br />
        <br />
    </article>

    <h2 class="exec" id="title-hapiness">Hapiness Factor</h2><br />
        <div class="container">
            <div class="row  row-centered">
                <div class="col-md-3">
                    <img src="public/img/portrait.png" />
                </div>
                <div id="future" class="col-md-4" ng-switch on="lang">
                    <section class="geek_code">
                            function my_dream()<br />
                            {
                    </section><br />
                    <section ng-switch-when="en" class="switch-anim content_geek_code">
                        my dream ?<br />
                        To evolve in IT world and share my knowledge with passionate people.<br /><br />
                    </section>
                    <section ng-switch-when="fr" class="switch-anim content_geek_code">
                        Mon rêve ?<br />
                        Pouvoir évoluer dans le monde de l'informatique, ainsi que partager mes connaissances avec des personnes passionnées.<br /><br />
                    </section>
                    <section class="geek_code">
                        <span class="content_geek_code geek_code">return 0</span><br />
                        }
                    </section>
                    <br />
                    <section class="geek_code">
                            function get_up_very_morning()<br />
                            {
                    </section><br />
                    <section ng-switch-when="en" class="switch-anim content_geek_code">
                        What makes me get up every morning ?<br />
                        I like challenges and work on ambitious projects.<br /><br />
                    </section>
                    <section ng-switch-when="fr" class="switch-anim content_geek_code">
                        Ce qui me fait me lever tous les matins ?<br />
                        J’aime relever des défis et travailler sur des projets ambitieux.<br /><br />
                    </section>
                    <section class="geek_code">
                        <span class="content_geek_code geek_code">return 0</span><br />
                        }
                    </section>
                    <br />
                    <section class="geek_code">
                            function my_vision_in_5_years()<br />
                            {
                    </section><br />
                    <section ng-switch-when="en" class="switch-anim content_geek_code">
                        In 5 years I see myself in a structure where I can participate in the company life, activities and with fun.<br />
                        Also able to transmit my knowledge.<br /><br />
                    </section>
                    <section ng-switch-when="fr" class="switch-anim content_geek_code">
                        Dans 5 ans, je me vois dans une structure où je pourrais participer à la vie de l'entreprise, à ces activités, avec du fun.<br />
                        Egalement pouvoir transmettre mes connaissances.<br /><br />
                    </section>
                    <section class="geek_code">
                        <span class="content_geek_code geek_code">return 0</span><br />
                        }
                    </section>
                    <br />
                </div>
            </div>
            <br />
            <br />
        </div>
</div>