<section>
    <section class="geek_code">
        function professional_projects()<br />
        {
    </section><br />
    <section class="content_geek_code">
        goto <a ui-sref="Pro">./Professional projects</a><br /><br />
    </section>
    <section class="geek_code">
        <span class="content_geek_code geek_code">return 0</span><br />
        }
    </section>
    <br />
    <section class="geek_code">
        function student_projects()<br />
        {
    </section><br />
    <section class="content_geek_code">
        goto <a ui-sref="Stud">./Student projects</a><br /><br />
    </section>
    <section class="geek_code">
        <span class="content_geek_code geek_code">return 0</span><br />
        }
    </section>
    <br />
    <!--
    <section class="geek_code">
        function personal_projects()<br />
        {
    </section><br />
    <section class="content_geek_code">
        goto <a ui-sref="Perso">./Personal projects</a><br /><br />
    </section>
    <section class="geek_code">
        <span class="content_geek_code geek_code">return 0</span><br />
        }
    </section>
    -->
</section>
